<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scholarly Search</title>
</head>
<body>
<h1>Scholarly Search</h1>
<div class="links">
    {% if request.session.username %}
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
  <form method="post" action="/search/">
      {% csrf_token %}
      <input type="text" name="query" placeholder="Query Sentence">
      <input type="submit" value="Search"/>
  </form>
</body>
</html>